@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.italianno-regular {
  font-family: "Italianno", cursive;
}

/* In your CSS file */
.paint-bg-section {
  background-image: url('/paintbg.webp');
  width: 100%;
  height: auto;
}

